JOIN antab+ antab antabsta
JOIN dbank+ dbank dbanksta
JOIN dmgen+ dmgen dmgensta 
JOIN erfas+ erfas erfassta
JOIN leite+ leite leitesta leitepmd
DELETE prid4pmd
JOIN leito+ leito leitosta
JOIN mtask+ mtask mtasksta
JOIN notiz+ notiz notizsta
JOIN pripj+ pripj pripjsta pripjson
JOIN soptd+ soptd soptdsta
JOIN DATENMODELLANPASSUNG dmgen+ konvtopnet bitupd klt2k dmkor drfwa dtupd dtins topan topln cvtxt lakon
JOIN PROJEKTIERUNG grupj grafprj pripj+ glasprj grupjex datpj netzbprj primaprj soptprj stopj tarpj verfb warpj wetprj zugpj zeibf tarifpj elasprj progprj
noJOIN ZYKLUS tarpj soprjsta stopj warpj pripj+ propjsta datpj waspl progd probf wapro
JOIN GAS gas glasbf glasd glasprj
JOIN TRAINING traid train
JOIN GRUNDDATEN codat moddm grupj grupjex pripj
JOIN ARCHIVIERUNG colza comwv datpj	dbglza lzadb lzadba lzptk hakor dalogsta sparc sparcp tarifpj soprjsta
JOIN LEITPROZESSE leite+ leito+ leitf
JOIN REMOTEKOMMUNIKATION nedpx nedtfd nedtfo nedtg nesrv netel netzi netzo netz codat colza comwv
JOIN NETZBERECHNUNG netmd netmo netzbprj
JOIN ROHTELEGRAMMANZEIGE rlist rotlx
JOIN TOPOLOGIE top topme topmo topan topln 
JOIN EMS ems prid4cim
JOIN STROMBEZUGSOPTIMIERUNG soptd+ sopto soptprj sokur
JOIN PROZESSAUSKOPPLUNG spaus pvaus pvapj daus
JOIN SCHALTLISTEN shali shalp zeibf soprjsta
JOIN STROM elasd elasbf elasprj STROMBEZUGSOPTIMIERUNG
JOIN HEO regelp flasd optid probf progd progpj prid4pro waspl STROM GAS
JOIN SIMULATION sim2db 
JOIN WARTUNGSPROTOKOLLE wapro warpj wartprot propjsta
JOIN PROTEX rtdprins
JOIN PROTOKOLLE+LISTEN WARTUNGSPROTOKOLLE protosta wezpr stopr stopj kstoe protview antab+ hwtab propjsta
JOIN WETTERVORHERSAGE wetbf wetprj
JOIN KOM komdb komsa komko komsd ktoolsta mcckt prio4kom prio4mcc mtask vtask prio4fms prio4st7 vtask104
JOIN FERNWIRKSERVER prio4fwa prio4fwt erffs leitf promon simco KOM
JOIN EIGENUEBERWACHUNG prota protd protv 
JOIN BILDER anbsr grafprj prima primasr dvg
JOIN MARLI+TAGEB marli tageb alprt
JOIN BETRIEBSFUEHRUNG verfb MARLI+TAGEB notiz+ splan stoertab prima
JOIN LOGGING tronf elist onerr otrac 
JOIN DEBUG dbgaw dbgbr dbglza dbgsm dbgvw ckuhr
JOIN BERECHTIGUNG rzugpj zugpj basis supw
JOIN CITYRUF cityp cityr citypn
JOIN ALARM alali alprt CITYRUF
JOIN MFC prid4mfc prid4dynmfclib prid4dynmfc
JOIN DATENBANK dba dbank+ dbser dbseror oledb
JOIN BACKUP backup bckup backuptosby
JOIN TECHNIK MFC keyor vte druck priwa pvnvt
JOIN LEBENSZYKLUSASPEKT LEITPROZESSE PROJEKTIERUNG DEBUG
JOIN NETZBERECHNUNG+TOPOLOGIE NETZBERECHNUNG TOPOLOGIE
JOIN ZEITREIHEN grada ARCHIVIERUNG
JOIN DATENPUNKTE erfas+ amebe sponber antab+ prio4tor tarifpj hwtab
noJOIN DATENPUNKTE+ DATENPUNKTE ZEITREIHEN PROZESSAUSKOPPLUNG MARLI+TAGEB PROTOKOLLE+LISTEN 
DELETE prio4dyn
DELETE prio4sta
DELETE prid4dyn
DELETE bib
DELETE dyn
DELETE zeitp
DELETE prid4sta
DELETE systosta
DELETE sta
DELETE prid4jdd
DELETE prid4bid
DELETE prio4bio
KILL ut_dbodbc
KILL ut_dyn
KILL ut_prid4dyn
KILL testcommons
DELETE TECHNIK
DELETE LEBENSZYKLUSASPEKT
