JOIN antab+ antab antabsta
JOIN dbank+ dbank dbanksta
JOIN dmgen+ dmgen dmgensta konvtopnet bitupd klt2k dmkor drfwa dtupd dtins
JOIN erfas+ erfas erfassta
JOIN leite+ leite leitesta leitepmd prid4pmd
JOIN leito+ leito leitosta
JOIN mtask+ mtask mtasksta
JOIN notiz+ notiz notizsta
JOIN pripj+ pripj pripjsta pripjson
JOIN soptd+ soptd soptdsta
DELETE prio4dyn
DELETE prio4sta
DELETE prid4dyn
DELETE dyn
DELETE zeitp
DELETE prid4sta
DELETE systosta
DELETE sta
DELETE prid4jdd
DELETE prid4bid
DELETE prio4bio
KILL ut_dbodbc
KILL ut_dyn
KILL ut_prid4dyn
KILL testcommons
