base.basic_config_if.BasicConfig=configuration.config_base.RevEngToolsBasicConfig

# base.dependency.dependency_if.DependencyOutputter=base.dependency.dependency_outputter.DependencyOutputterBase
# base.dependency.dependency_if.DependencyOutputter=base.dependency.dependency_outputter.TrivialDependencyOutputter
# base.dependency.dependency_if.DependencyOutputter=base.dependency.dependency_outputter.TextDependencyOutputter
# base.dependency.dependency_if.DependencyOutputter=base.dependency.graphviz_dependency_outputter.GraphvizDependencyOutputter
base.dependency.dependency_if.DependencyOutputter=base.dependency.dependency_outputter.DependencyOutputterBase

# base.dependency.dependency_if.DependencyOutputterConfiguration=cpp.lift_include_links_run.LiftIncludeLinksOutputterConfiguration
# base.dependency.dependency_if.DependencyOutputterConfiguration=prins.dependency_output.PRINSDependencyOutputterConfiguration

base.dependency.dependency_if.DependencyFilter=base.dependency.dependency_default.DefaultDependencyFilter

base.dependency.dependency_if.OutputterConfiguration=configuration.config_outputters.CurrentOutputterConfiguration
base.dependency.dependency_output_util.DependencyFilterOutputter=base.dependency.module.graph_util.DefaultModuleDependencyFilterOutputter

base.dependency.module.linkdeps_if.ModuleLinkDepsSupply=base.dependency.module.file_linkdeps.FileModuleLinkDepsSupply

# commons.database_if.ConnectionFactory=infrastructure.databases.database_sqlserver.SQLServerConnectionFactory
commons.database_if.ConnectionFactory=infrastructure.databases.database_sqlserver_adodb.SQLServerConnectionFactory

commons.database_if.DatabaseConfiguration=configuration.config_db.RevEngToolsDatabaseConfiguration

infrastructure.graph_layout.graphviz.graphviz_config.GraphvizConfiguration=configuration.config_graphviz.RevEngToolsGraphvizConfiguration

commons.progress_if.ProgressListener=commons.progress_default.NullProgressListener
# commons.progress_if.ProgressListener=commons.progress_default.DefaultProgressListener

epm.epm_checker_if.EPMArchitecturalStyleChecker=epm.epm_checker_default.DefaultEPMArchitecturalStyleChecker

commons.graph.output_if.NodeGroupingConfiguration=commons.graph.output_default.DefaultNodeGroupingConfiguration
commons.graph.output_if.GraphicalGraphOutputter=infrastructure.graph_layout.graphviz.graphviz.GraphvizRenderingGraphOutputter
commons.graph.output_if.GraphicalGraphOutputterFactory=infrastructure.graph_layout.graphviz.graphviz.GraphvizRenderingGraphOutputterFactory
base.dependency.dependency_generator_if.DependencyGraphGeneratorFactory=base.dependency.dependency_default.NullDependencyGraphGeneratorFactory

base.dependency.dependency_if.ModuleGrouper=base.dependency.dependency_base.NullModuleGrouper

commons.scm_if.VersionDescriber=commons.scm_default.NullVersionDescriber

base.dependency.generation_log_if.GenerationLogGenerator=base.dependency.generation_log.CSVGenerationLogGenerator
# base.dependency.generation_log_if.GenerationLogGenerator=base.dependency.generation_log.NullGenerationLogGenerator

base.dependency.generation_log_if.GenerationLogSupply=base.dependency.generation_log.CSVGenerationLogSupply

commons.graph.output_if.TextualGraphOutputter=base.dependency.dependency_output_html.HTMLDocumentTextGraphOutputter
commons.graph.output_if.TextualGraphOutputterFactory=base.dependency.dependency_output_html.HTMLDocumentTextGraphOutputterFactory

base.diagnostics_if.CheckerRuleFactory=base.diagnostics_util.CheckerRuleFactoryDefault
